{% extends "generator_url/base.html" %}

{% block title %}Главная{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <h3>Введите URL:</h3>
        <form action="." method='post'>
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="btn btn-success" value="Сократить">
        </form>
    <br>
    <h4 style="text-align: center;">
        <a href="{% url 'generator_url:list' %}">Список сокращенных ссылок</a>
    </h4>
    {% else %}
        <h4>
            Пожалуйста, зарегистрируйтесь или авторизируйтесь, чтобы воспользоваться сервисом.
        </h4>
    {% endif %}
{% endblock %}